doctype html 

html 
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascript/main.js')


    body 
        h1=title


        button(onclick='nav("/")') Home
        | &nbsp;
        button(onclick='back()') Back
        | &nbsp;
        button(onclick='fill()') Fill
        | &nbsp;
        button(form='product-form', type='reset', name='reset') Clear All
        | &nbsp;

        div
            span &nbsp;

        form(id='product-form', action='/inventory', method='post')
            div 
                label(for='product_name') Product Name 
                    input(id='product_name', type='text', value='', name='product_name')
            div
                span &nbsp;

            div 
                label(for='brand') Brand 
                    input(id='brand', type='text', value='', name='brand')
            div
                span &nbsp;
            
            div 
                label(for='sku') SKU 
                    input(id='sku', type='text', value='', name='sku')
            div
                span &nbsp;
            
            div 
                label(for='quantity') Quantity 
                    input(id='quantity', type='number', value='', name='quantity')
            div
                span &nbsp;
            
            div 
                label(for='price') Price 
                    input(id='price', type='number', value='', name='price', step='.01')
            div
                span &nbsp;
            
            div 
                label(for='cost') Cost 
                    input(id='cost', type='number', value='', name='cost', step='.01')
            div
                span &nbsp;

            div 
                label(for='category_id') Category 
                    select(id='category_id', name='category_id')
                        each row in category 
                            - var id = row.id
                                option(value='#{id}') #{row.category_name}
            div
                span &nbsp;

            div 
                label(for='ext_description') Product Description 
                    textarea(id='ext_description', type='text', value='', name='ext_description')
            div
                span &nbsp;
            
            div 
                label(for='product_img') Product Image
                    input(id='product_img', type='text', value='', name='product_img')
            div
                span &nbsp;
            
            div 
                label(for='ext_product_url') External Product URL
                    input(id='ext_product_url', type='text', value='', name='ext_product_url')
            div
                span &nbsp;
            
            div 
                label(for='int_notes') Internal Notes
                    textarea(id='int_notes', type='text', value='', name='int_notes')
            div
                span &nbsp;
            
            div 
                span &nbsp;
            
            div 
                input(id='submit-button', type='submit', value='Save Product', name='submit')
        
                
            
                    